@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #fdfdfd;
}

ul {
  list-style-type: none;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

@font-face {
  font-family: 'Acumin';
  src: url('./content/fonts/FontsFree-Net-Acumin-Pro-Book.ttf');
}

@font-face {
  font-family: 'Acumin-Bold';
  src: url('./content/fonts/FontsFree-Net-Acumin-Pro-Semibold.ttf');
}

@font-face {
  font-family: 'Acumin-Medium';
  src: url('./content/fonts/Acumin-Pro-Medium.otf');
}

@font-face {
  font-family: 'Acumin-Light';
  src: url('./content/fonts/FontsFree-Net-Acumin-Pro-ExtraLight.ttf');
}

@font-face {
  font-family: 'GTSuperText-Black';
  src: url('./content/fonts/GT-Super-Text-Black.woff2');
}